.send__otp__wrapper {
  text-align: center;
  padding: 100px 0;
}
.btn {
  padding: 10px 40px;
  border-radius: 50px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}
.send__otp {
  background-color: #4aaf72;
}
.send__otp:hover {
  background-color: #319458;
}
.w-100 {
  width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-block {
  display: block;
}
